*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #272727;
  --second-color: #135b64;
  --primary-modal-color: rgba(39, 39, 39, 0.671);
  --second-modal-color: rgba(19, 91, 100, 0.671);
  --container-width: 1000px;
  --breakpoint-desk: 573px;
  --font-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
}

img {
  width: 100px;
}

.arrow__left {
  display: inline-block;
  font-size: 1.5rem;
  color: #272727;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  position: fixed;
  left: initial;
  top: initial;
  bottom: 1vh;
  right: 5vw;
  z-index: 20;
  box-shadow: 0px 2px 2px 2px #ccc;
  border-radius: 50%;
}

.main {
  max-width: 100%;
  /* margin: 30px auto; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 13px 1px #e9e9e9;
  gap: 30px;
}
.main .more__container {
  width: 70%;
  margin: 0 20px;
  padding: 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contact__more {
  text-align: center;
  position: relative;
}

.contact__more__title {
  margin-top: 1rem;
  padding: 0 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button,
.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.button {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: rgba(255, 255, 255, 0.129);
  margin-top: 5px;
  z-index: 1;
}

.icon {
  text-align: center;
  line-height: 50px;
  box-shadow: none;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.icon i {
  font-size: 1.5rem;
  line-height: 50px;
}

.button__link {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 50px;
  text-decoration: none;
  color: #272727;
}

.button__link:hover {
  text-decoration: underline;
}

.button:hover {
  width: 200px;
  color: #fff;
}

.button:nth-child(1):hover .icon {
  background-color: #4267b2;
}
.button:nth-child(1):hover a {
  color: #4267b2;
}

.button:nth-child(2):hover .icon {
  background: linear-gradient(#db002c, #c10077);
}
.button:nth-child(2):hover a {
  color: #db002c;
}

.button:nth-child(3):hover .icon {
  background-color: #3db94d;
}
.button:nth-child(3):hover a {
  color: #3db94d;
}

.button:nth-child(4):hover .icon {
  background-color: #269cd9;
}
.button:nth-child(4):hover a {
  color: #269cd9;
}

.contact__more__img {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 10%;
  mix-blend-mode: darken;
}

.form {
  width: 80%;
  margin: auto;
}

.form__group {
  margin: 20px 0;
  position: relative;
}
.form__group.error .form__label {
  color: #b62c2c;
}
.form__group.error .form__icon {
  color: #b62c2c;
  right: 10px;
  bottom: 29px;
  opacity: 1;
}

.form__group.error .form__icon-sms {
  bottom: 50px;
}
.form__group.error .form__input {
  border: 2px solid #b62c2c;
  color: #b62c2c;
}
.form__group.succes .form__icon {
  color: #2b9d1a;
  right: 20px;
  bottom: 7px;
  opacity: 1;
}

.form__label {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
}

.form__input {
  width: 95%;
  padding: 8px 5px;
  color: #4d4c4c;
  font-family: inherit;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  border-radius: 5px;
  font-size: 11px;
}
.form__input:focus {
  border: 2px solid #89b4e4;
  box-shadow: 0px 2px 1px rgba(202, 239, 233, 0.473);
}

.form__input-message {
  height: 50px;
  font-size: 11px;
  resize: none;
}

.form__icon {
  position: absolute;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.form__error__message {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 500;
  display: none;
  margin: 0;
  margin-top: 10px;
  transition: display 0.7s ease;
}
.form__error__message.active {
  display: block;
}

.form__message {
  background-color: #b52727;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  display: none;
}
.form__message p {
  margin: 0;
}
.form__message.active {
  display: block;
}

.form__btn {
  width: 40%;
  background-color: #272727;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.form__btn:hover {
  background-color: rgba(39, 39, 39, 0.922);
}

/* Mediaqueries */

@media screen and (max-width: 400px) {
  .button,
  .icon {
    width: 40px;
    height: 40px;
  }
  .icon,
  .icon i,
  .button__link {
    line-height: 40px;
  }
}

@media screen and (min-width: 600px) {
  .contact__more__img {
    bottom: 0;
    right: 10%;
  }
}

@media screen and (min-width: 700px) {
  body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .arrow__left {
    position: absolute;
    bottom: initial;
    right: initial;
    left: 15px;
    top: 5px;
    box-shadow: none;
  }

  .main {
    width: 700px;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
  }

  /* form */
  .contact__more__img {
    bottom: 30%;
    right: 0;
  }
  .form__icon {
    font-size: 0.9rem;
  }

  .form__group.error .form__icon:not(.form__icon-sms) {
    bottom: 31px;
    right: 7px;
  }
}

@media screen and (min-width: 1000px) {
  .form__input-message {
    height: 70px;
    padding: 5px;
  }
  .form__group.error .form__icon {
    bottom: 33px;
    right: 8px;
  }

  .form__group.error .form__icon-sms {
    bottom: 3rem;
  }
}

/*# sourceMappingURL=contact.css.map */
