*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #272727;
  --second-color: #135b64;
  --primary-modal-color: rgba(39, 39, 39, 0.671);
  --second-modal-color: rgba(19, 91, 100, 0.671);
  --container-width: 1000px;
  --font-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.title {
  color: var(--primary-color);
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.title-decoration {
  color: var(--second-color);
  border-bottom: 3px solid var(--second-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 75px;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: #135b64;
  position: relative;
  cursor: pointer;
}

.logo h2 {
  margin-top: 1rem;
  position: absolute;
  left: 3.2rem;
  z-index: 2;
}

.logo__img {
  width: 3.5rem;
  height: auto;
  opacity: 0.6;
  position: relative;
  z-index: 5;
}

.logo:hover {
  animation: logoAnimation 1s infinite linear alternate;
}

@keyframes logoAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.menu-btn {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  background-color: #b4b4b4;
  border-radius: 50%;
  box-shadow: 0px 1px 3px 1px #393737;
  width: 4em;
  height: 4em;
  border: none;
  padding: 0;
  z-index: 999;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30vw;
  background-color: #272727eb;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.4s ease;
  -webkit-transition: transform 0.3s ease, opacity 0.4s ease;
  -moz-transition: transform 0.3s ease, opacity 0.4s ease;
  -ms-transition: transform 0.3s ease, opacity 0.4s ease;
  -o-transition: transform 0.3s ease, opacity 0.4s ease;
  transform: translate(-100%, 0);
  -webkit-transform: translateX(-100%, 0);
  -moz-transform: translateX(-100%, 0);
  -ms-transform: translateX(-100%, 0);
  -o-transform: translateX(-100%, 0);
  z-index: 998;
}

.menu.is-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  opacity: 1;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav__link {
  display: block;
  width: 80%;
  padding: 1em;
  margin-top: 1.25rem;
  margin-left: 0.625rem;
  color: #fff;
  font-size: 0.9rem;
}

.nav__link:hover {
  background-color: var(--second-modal-color);
  font-weight: bold;
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
}

.footer__text {
  width: 90%;
  margin: 0 auto;
}

.footer__text h2 {
  letter-spacing: 0.1875rem;
  font-weight: 300;
  margin-bottom: 0.9375rem;
  font-size: 1.8em;
}

.footer__text p {
  font-size: 0.75rem;
}

.footer__social {
  display: flex;
  width: 80%;
  justify-content: space-around;
  font-size: 1.3em;
}

.footer__social a {
  color: #fff;
}

.footer__copyright__text {
  background-color: #202020;
  width: 100%;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.8125rem;
}

.footer__copyright__text a {
  color: #4d4c4c;
}

.wrapper {
  width: 100%;
  max-width: var(--container-width);
  margin: auto;
  box-shadow: 0px 1px 2px 2px #e5e5e5dd;
}

.button {
  display: block;
  width: 7rem;
  min-width: max-content;
  text-align: center;
  color: #fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: transparent;
  margin-top: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 1px 2px 1px #242323;
}

/* MAIN */
.section__info {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 1rem;
}

.info__img__container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.info__img {
  height: 100%;
  width: 100%;
}

.info__description {
  width: 80%;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
  order: 1;
  margin: 1rem auto;
}

.info__title {
  margin-bottom: 0.625rem;
}

.info__title span {
  color: var(--second-color);
}

.hero__link {
  border: thin solid #988e8e;
  margin-left: auto;
  margin-right: auto;
}

.hero__link:hover {
  background-color: #2e2e2e;
}

/* ABOUT-ME */
.about__me {
  display: flex;
  align-items: center;
}

.about__img {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.about__paragraph {
  padding: 0.625rem 0.9375rem;
  position: relative;
}

.about__paragraph a {
  background-color: var(--second-color);
}

.about__title {
  margin-bottom: 0.625rem;
}

/* PROJECTS */
.projects {
  background-color: #f3f0f0;
  padding: 0.625rem;
  padding-bottom: 1.25rem;
  opacity: 0;
  transition: all 0.7s ease;
}

.projects.visible {
  opacity: 1;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 1rem 0;
  gap: 1rem;
}

.card {
  min-width: 170px;
  height: 270px;
  background-color: #fff;
  color: #fff;
  box-shadow: 0px 0px 4px 3px #d7d6d6;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: auto;
}

.card:hover {
  transform: translateY(-12px) scale(1.1);
  box-shadow: 0px 8px 4px 1px #ada6a6;
}

.card:hover .card__hover__info {
  transform: translate(0, 0);
}

.card__hover__info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #252424d1;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(100%, 0);
  transition: all 0.4s ease-in;
}

.card__hover__info div {
  padding: 0.3125rem;
}

.card__hover__info span {
  display: inline-block;
  font-size: 2em;
  margin-top: 0.625rem;
}

.card__img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card__title {
  color: var(--second-color);
}

.card__paragraph {
  font-size: 0.6875rem;
  color: var(--primary-color);
  text-align: center;
  padding: 0.625rem;
}

.card__description {
  margin-top: 0.5rem;
}

.card__icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  background-color: #eae6e6;
  /* justify-content: center; */
  align-items: center;
}

.card_link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
}

.card_link p {
  font-size: 0.5rem;
  margin-top: 0.2rem;
}

/* SLIDER */

.technologies {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d8ebed;
}

.technologies h2 {
  width: auto;
  margin-bottom: 1rem;
}

.slider {
  width: 100%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.silder-track {
  display: flex;
  width: calc(100px * 18);
  height: 100%;
  align-items: center;
  gap: 2rem;
  animation: scroll-slider 40s linear infinite;
}

.slide {
  width: 3.125rem;
  height: 3.125rem;
}

.slide img {
  width: 100%;
  height: 100%;
}

.boostrap i {
  display: block;
  font-size: 3rem;
  color: rebeccapurple;
}

@keyframes scroll-slider {
  0% {
    transform: translateX(0);
    transition: transform 1s ease;
  }

  100% {
    transform: translateX(calc(-200px * 6));
  }
}

/* BREAKPOINTS */

@media screen and (min-width: 573px) {
  body {
    font-size: 16px;
  }

  .header {
    height: 70px;
    position: sticky;
    top: -0.25rem;
    z-index: 100;
    overflow: hidden;
  }

  .logo {
    width: 18.75rem;
  }

  .logo h2 {
    left: 4.3rem;
  }

  .logo__img {
    margin-left: 1rem;
  }
  .menu-btn {
    display: none;
  }

  .menu {
    width: 50%;
    position: initial;
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .nav__link {
    display: block;
    width: auto;
    margin: 0;
    padding: 0.625rem 0.9375rem;
    color: #fff;
  }

  .nav__link:hover {
    background-color: transparent;
    border-bottom: thin solid #fff;
    transition: all 0.3s ease;
  }

  .section__info {
    grid-template-columns: repeat(5, 1fr);
  }

  .info__description {
    grid-column: 3/6;
    width: auto;
    color: #fff;
    text-align: left;
    padding: 0 1rem;
    order: 1;
    margin: 1rem 0;
  }

  .info__img__container {
    width: 300px;
    grid-column: 1/3;
    margin-bottom: 3rem;
  }

  .hero__link {
    margin-left: 0;
    margin-right: 0;
  }

  .about__me {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about__img {
    width: 30%;
  }

  .about__paragraph {
    width: auto;
    padding: 0 1.875rem;
  }

  .slider {
    width: 80%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    justify-content: center;
    overflow-x: initial;
  }

  .card {
    max-width: 170px;
  }

  .footer__social {
    width: 30%;
  }

  .footer__text {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .about__me {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
